.html
.png
.bin
.lock
.results.bin
.output.bin
/build
/target
.gradle
.build
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build/reports/
